body{
  width: 375px;
  margin: 0;
}
/* NAVIGATION BAR  */
.navbar{
  background-color: #FFFFFF;
  width: 375px;
  height: 77px;
  margin: 0px;
  padding: 0px;
}
  .logo{
    width: 36px;
  float: left;
  margin: 17px;
  }
  img#burger{
    /* display: block; */
  float: right;
  width: 56px;
  padding: 0px;
  margin: 7px;
  }
/* NAVIGATION BAR END HERE */

/* BODY STARTS HERE */

/* fisrt part */
h2{
  /* style */
  font-family: work-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;

/* position */
  margin: 32px;
  margin-bottom: 0px;
}

h1{
    /* style */
  font-family: benton-modern-display, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 34px;

/* position */
  margin: 32px;
  margin-top: 18px;
}

img.img1{
width: 375px;
height: 201.16px;
}
/* fisrt part */


/* second part */

h3{
  /* style */
  font-family: work-sans, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;

/* position */
  margin-left: 34px;
  margin-bottom: 0px;
}
h4{
  /* style */
  color: #323030;
  font-family: work-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;

/* position */
margin-top: 10px;
  margin-left: 69px;
  margin-right: 59px;
}

img.img2{
  width: 258px;

  margin: 90px;
  margin-right: 54px;
  margin-left: 54px;
  margin-bottom: 42px;
}

/* footer image */
img.footer{

  width: 375px;
  height: 350.41px;

  margin-top: 86px;
}
